<mat-horizontal-stepper linear>
    <mat-step label="Shipping Address" completed="true">Shipping address</mat-step>
    <mat-step label="Billing Address">
        Billing Address
        <button mat-button matStepperPrevious completed="true" optional>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Place Order">Place Order</mat-step>
</mat-horizontal-stepper>
<br/>
<mat-vertical-stepper linear>
    <mat-step label="Shipping Address" completed="true">Shipping address</mat-step>
    <mat-step label="Billing Address">
        Billing Address
        <button mat-button matStepperPrevious completed="true" optional>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Place Order">Place Order</mat-step>
</mat-vertical-stepper>