
<!-- //general material practice.. -->
<button mat-raised-button [routerLink]="['/generalWork']">General work</button>
<!-- //sideNav... -->
<button mat-raised-button [routerLink]="['/sidenav']">SideNav</button>

<button mat-raised-button [routerLink]="['/menu']">Menu</button>

<button mat-raised-button [routerLink]="['/list']">List</button>
<button mat-raised-button [routerLink]="['/gridlist']">Grid List</button>
<button mat-raised-button [routerLink]="['/expansionPanel']">Expansion Panel</button>
<button mat-raised-button [routerLink]="['/card']">card</button>
<button mat-raised-button [routerLink]="['/tab']">tab</button>
<button mat-raised-button [routerLink]="['/stepper']">stepper</button>
<button mat-raised-button [routerLink]="['/input']">input</button>
<button mat-raised-button [routerLink]="['/autocomplete']">autocomplete</button>
<button mat-raised-button [routerLink]="['/check']">CheckBox & Radio</button>
<button mat-raised-button [routerLink]="['/snackbar']">snackbar</button>
<button mat-raised-button [routerLink]="['/dialog']">dialog</button>
<button mat-raised-button [routerLink]="['/table']">Table</button>
<button mat-raised-button [routerLink]="['/virtualScrolling']">Virtual Scrolling</button>

<router-outlet></router-outlet>
