<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Fundamentals
        </mat-panel-title>
        <mat-panel-description>
            Total Duration:3 hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

<br/>
<!-- group of expansion panel is made using mat-accordion
by defaul if we expand panel 1 panel 2 collapses automatically to avoid this 
we use multi=true -->
<mat-accordion multi='true'>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Fundamentals
            </mat-panel-title>
            <mat-panel-description>
                Total Duration:3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Fundamentals
            </mat-panel-title>
            <mat-panel-description>
                Total Duration:3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>